@font-face {
    font-family: CoutureBold;
    src:url('../fonts/couture-bld.otf');
}

@font-face {
    font-family: Nordica;
    src:url('../fonts/NordicaThin.otf');
}

@font-face {
    font-family: Telegrafico;
    src:url('../fonts/Telegrafico.ttf');
}

@font-face {
    font-family: FineStyle;
    src:url('../fonts/FineStyle.ttf');
}

@font-face {
    font-family: Yeseva;
    src:url('../fonts/YesevaOne-Regular.ttf');
}

@font-face {
    font-family: Notera;
    src:url('../fonts/Notera.ttf');
}

@font-face {
    font-family: Cheddar;
    src:url('../fonts/Cheddar.ttf');
}

body {
  margin: 0;
  font-size: 16px;
}

h1 {
  font-family: Yeseva;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.nav-container {
  display: flex;
  top: 0px;
  left: 0px;
  margin: 10px 40px;
  background-color: white;
}

.link-container {
  display: flex;
  float: right;
  flex: 2;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  align-self: center;
}

.nav-logo-container {
  display: flex;
  flex: 3;
  justify-content: flex-start;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
  border: 1px solid #797A7E;
  background-color: white;
  height: 600px;
  overflow: scroll;
}

.landing-container {
  border: 1px solid #797A7E;
}

.clothes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.clothing-item-container {
  display: flex;
  margin: 10px 10px;
  padding: 10px 10px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.clothing-item-image {
  display: flex;
  height: 100px;
  width: 75px;

}

.clothing-item-image {
  display: flex;
  align-self: center;
  height: 150px;
  width: 100px;
}

.clothing-item-info {
  display: flex;
  align-self: center;
  text-align: center;
}

.clothing-item-price {
  display: flex;
  align-self: center;
  text-align: center;
}

.content{
  display: flex;
  margin: 20px 20px;
  border: 5px solid pink;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.dashboard-content-container {
  display: flex;
  flex-direction: row;
}

.acct-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border-right: 1px solid black;
}

.acct-content-container {
  display: flex;
  flex: 4;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.checkout-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid pink;
  justify-content: flex-start;
  align-items: flex-start;
}

.cartitems-container {
  display: flex;
  flex: 3;
  border: 5px solid #DDEDE3;
}

#border-btm {
  border-bottom: 1px solid black;
}

#nav-logo {
height: 50px;
width: auto;
}

#nav-link {
  font-family: Telegrafico;
  font-size: 12;
  color: #797A7E
}

#side-link {
  color: #797A7E;
  font-family: Nordica;
  font-size: 12px;
  margin-left: 3px;
}

.txt-img {
  position: relative;
  width: 100%;

}

.txt-img img {
  width: 100%;
  border-bottom: 1px solid #797A7E;

}

h2 {
  position: absolute;
  font-size: 50px;
  top: 50px;
  left: -250px;
  width: 100%;
}

h2 span {
   font-family: Yeseva;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.1);
   padding: 10px;
}

#top {
  margin-top: 20px;
}

#mint {
  color: #DDEDE3
}

#cream {
  color: #F6F2E6
}

#slate {
  color: #797A7E
}

#taupe {
  color: #D8D3CD
}

a {
  color: #797A7E;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #797A7E;
}

.text-center {
  text-align: center;
}

z {
  font-family: Telegrafico;
  font-size: 30px
}

w {
  font-family: Nordica;
  font-size: 12px
}

y {
  font-family: Notera;
  font-size: 60px;
  color: #D8D3CD
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
