@font-face {
    font-family: CoutureBold;
    src:url('../fonts/couture-bld.otf');
}

@font-face {
    font-family: Nordica;
    src:url('../fonts/NordicaThin.otf');
}

@font-face {
    font-family: Telegrafico;
    src:url('../fonts/Telegrafico.ttf');
}

@font-face {
    font-family: FineStyle;
    src:url('../fonts/FineStyle.ttf');
}

@font-face {
    font-family: Yeseva;
    src:url('../fonts/YesevaOne-Regular.ttf');
}

@font-face {
    font-family: Notera;
    src:url('../fonts/Notera.ttf');
}

@font-face {
    font-family: Cheddar;
    src:url('../fonts/Cheddar.ttf');
}

@font-face {
    font-family: Opificio;
    src:url('../fonts/Opificio.ttf');
}

@font-face {
    font-family: Goldoni;
    src:url('../fonts/Goldoni.otf');
}

@font-face {
    font-family: RegencieLight;
    src:url('../fonts/RegencieLight.ttf');
}

body {
  margin: 0;
  font-size: 12px;
  font-family: RegencieLight;
  letter-spacing: 1px;
}

h1 {
  font-family: Yeseva;
  font-size: 42px;
}

span {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.nav-container {
  display: flex;
  top: 0px;
  left: 0px;
  margin: 10px 40px;
  background-color: white;
}

.link-container {
  display: flex;
  float: right;
  flex: 2;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  align-self: center;
}

.nav-logo-container {
  display: flex;
  flex: 3;
  justify-content: flex-start;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
  border: 1px solid #797A7E;
  background-color: white;
  height: 600px;
}

.landing-container {
  border: 1px solid #797A7E;
}

.height-100 {
  height: 100%;
  width: 100%;
}

.width-100 {
  width: 100%;
}

.products-container {
  height: 100%;
}

.products-top {
  display: flex;
  border-bottom: 1px solid black;
  padding: 20px 0px;
  justify-content: center;
}

.clothes-container {
  display: flex;
  height: 85%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: scroll;
}

.clothing-item-container {
  display: flex;
  margin: 5px 20px;
  width: 120px;
  padding: 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.clothing-item-image {
  display: flex;
  align-self: center;
  height: 180px;
  width: 120px;
  border: 1px solid black;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.clothing-item-info {
  display: flex;
  align-self: center;
  text-align: center;
  align-content: center;
  padding: 0px 0px;
  margin-top: 3px;
  color: black;
  font-size: 14px;
  font-family: Telegrafico;
  justify-content: center;
}

.clothing-item-price {
  display: flex;
  align-self: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 0px 0px;
  margin-top: 5px;
  font-family: RegencieLight;
}

.content{
  display: flex;
  margin: 20px 20px;
  border: 5px solid pink;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.dashboard-content-container {
  display: flex;
  flex-direction: row;
}

.acct-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border-right: 1px solid black;
}

.acct-content-container {
  display: flex;
  flex: 4;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.checkout-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  border-left: 1px solid black;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
}

.shared-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding:0px 20px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.allitems-container {
  display: flex;
  flex: 5;
  border: 3px solid #F6F2E6;
}

.cartitems-container {
  display: flex;
  flex: 3;
  height: 100%;
  overflow: scroll;
  flex-direction: column;
  align-items: flex-start;
  height: inherit;
  padding: 5px 10px;
}

.cart-useritems-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.cart-userimage-desc-containter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
}

.cart-userimage {
  display: flex;
  height: 107px;
  width: 72px;
  margin: 5px;
  border: 1px solid black;
}

.cart-userinfo {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  margin: 5px;
  font-size: 14px;
  padding-top: 10px;
  font-family: Telegrafico;
  color: black;
  text-align: left;
}

.cart-userprice {
  display: flex;
  margin: 5px;
  padding-top: 10px;
  padding: 0px 50px;
}

.cart-useritem-display {
  display: flex;
  flex: 5;
  align-items: flex-start;
}

.cart-userprice-display {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.other-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  overflow: scroll;
}

.user-package {
  align-items: flex-start;
  width: 90%;
  padding-left: 10px;
  padding-right: 5px;
  border-bottom: 1px solid black;
}

.other-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 3px;
  width: 100%;
  justify-content: space-between;
}

.cart-otherimage {
  display: flex;
  height: 45px;
  width: 30px;
  border: 1px solid black;
}

.other-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.progress-bar {
  align-items: center;
  border: 1px solid black;
  width: 200px;
  height: 20px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D8D3CD;
  height: 20px;
  width: 175px;
}

.flex-one {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  flex: 1;
  width: 100%;
  background-color: white;
  border: 5px solid pink;

}

.one{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  position: fixed;
  background-color: white;
  align-items: center;
  justify-content: center;

}

.flex-four {
  display: flex;
  flex: 4;
  width: 100%;
  padding-top: 100px;
}

line {
  border-bottom: 1px solid black;
  width: 80%;
  align-self: center;
  padding: 5px 0px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

.modal-body {
  padding: 2px 16px;
  padding-bottom: 15px;
}

.modal-footer {
    padding: 2px 16px;
}

#border-btm {
  border-bottom: 1px solid black;
}

#nav-logo {
height: 50px;
width: auto;
}

#nav-link {
  font-family: Telegrafico;
  font-size: 16px;
  color: #797A7E
}

#reg-link {
  font-family: Telegrafico;
  font-size: 12px;
  color: black;
}

#side-link {
  color: #797A7E;
  font-family: Nordica;
  font-size: 12px;
  margin-left: 3px;
}

#cart-img {
  height: 100;
  width: 75;
}
.txt-img {
  position: relative;
  width: 100%;

}

.txt-img img {
  width: 100%;
  border-bottom: 1px solid #797A7E;
}

.right {
  display: flex;
  align-items: flex-start;
}

.home-banner {
  position: absolute;
  width: 40%;
  padding-top: 40px;
  padding-left: 80px;
}

.pay-button{
	background-color: black;
	color: white;
	font-family: Telegrafico;
	padding: 10px;
	margin-top: 15px;
	border: 0px;
}

.link-input {
  border: 1px solid black;
  margin-right: 5px;
  padding: 7px 3px;
}

.remove-button {
  background-color: white;
  border: 0px;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  margin: 5px;
  font-family: RegencieLight;
  font-size: 10px;
  text-decoration: underline;
  color: black;
  text-align: left;
}

.startcart-button{
  align-self: center;
	background-color: black;
	color: white;
	font-family: Telegrafico;
	padding: 10px;
  font-size: 18px;
	border: 0px;
}

h2 {
  position: absolute;
  font-family: Times;
  font-size: 50px;
  top: 50px;
  left: -250px;
  width: 100%;
}

h2 span {
   font-family: Yeseva;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.1);
   padding: 10px;
}

#top {
  margin-top: 20px;
}

#mint {
  color: #DDEDE3
}

#cream {
  color: #F6F2E6
}

#slate {
  color: #797A7E
}

#taupe {
  color: #D8D3CD
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #797A7E;
}

.text-center {
  text-align: center;
}

z {
  font-family: Telegrafico;
  font-size: 30px
}

w {
  font-family: Nordica;
  font-size: 12px
}

y {
  font-family: Notera;
  font-size: 60px;
  color: #D8D3CD
}

c {
  font-family: Cheddar;
  font-size: 18px;
}

.bullets {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.form-container {
  padding: 10px 20px;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

}

.form-box {
  display: flex;
  align-items:center;
  justify-content: center;
}

.form-field {
  display: flex;
  flex-direction: row;
  padding: 2px 2px;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: left;
}

.delivery-field {
  display: flex;
  flex-direction: row;
  padding: 2px 2px;
  justify-content: stretch;
  align-self: flex-end;
  text-align: left;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.width-400px {
  width: 400px;
  overflow: scroll;
}

.form-title {
  display: flex;
  font-family: Telegrafico;
  font-size: 14px;
  padding: 0px 2px;
  flex:1;
  flex-direction: column;
}
.form-input {
  display: flex;
  flex:4;
  width: 200px;
}

.payment-title {
  font-family: Nordica;
  font-size: 14px;
  font-weight: bold;
}

nordica {
  font-family: Nordica;
  font-size: 12px;
}

opi {
  font-family: Opificio;
  font-size: 12px;
}

tele {
  font-family: Telegrafico;
  font-size: 24px;
}

yes {
  font-family: Yeseva;
  font-size: 24px;
}

h10 {
  font-family: Telegrafico;
  font-size: 24px;
}

h9 {
  font-family: Telegrafico;
  font-size: 12px;
}

h8 {
  font-family: Nordica;
  font-size: 10px;
}

h7 {
  font-family: Nordica;
  font-size: 12px;
}

xx {
  font-family: Nordica;
  font-size: 10px;
  font-style: italic;
}
